html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
  color: black;
}

img {
  width: 100%;
}

.visuallyhidden {
  position: absolute;
  left: 0;
  top: 500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}
